body {
    background-color: black;
    color: white;
    font-family: "Maiden Orange", "Helvetica Neue", Sans-Serif;
    font-size: calc(16px + 1.5vw);
    line-height: 1.25;
    margin: 0;
    overflow: hidden;
}

#where {
    bottom: 2vh;
    left: 2vh;
    position: absolute;
    right: 2vh;
    text-align: center;
    top: 2vh;
}

h1, p {
    text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

a {
    color: white;
    opacity: 0.8;
    text-decoration: none;
}
    a:hover {
        border-bottom: solid 1px white;
        opacity: 1.0;
    }

button {
    background: #0688fa;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-family: "Helvetica Neue", Sans-Serif;
    height: 4rem;
    overflow: hidden;
    padding: 0 2rem;
    position: relative;
    text-shadow: 0 0.15rem 0 rgba(0,0,0,0.5);
}
    button[disabled] {
        background: gray;
    }
    button:hover {
        filter: brightness(110%);
    }
        button[disabled]:hover {
            filter: brightness(100%);
        }
    button:active {
        box-shadow: 0 0.125rem 0.33rem rgba(0, 0, 0, 0.5);
        top: 2px;
    }
        button[disabled]:active {
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
            top: 0;
        }

#credits {
    bottom: 2vh;
    left: 2vh;
    position: absolute;
}
    #credits p {
       margin: 0;
       margin-left: 1.06em; /* match the width of the caret + margin-right in Safari */
    }

#webgl-trademark {
    bottom: 2vh;
    position: absolute;
    right: 2vh;
}

.webgl-error {
    color: white;
    font-family: monospace;
    margin: 50px;
    text-align: center;
}
