body {
    background-color: black;
    color: white;
    font: 16px/1.5 "Helvetica Neue", Sans-Serif;
    margin: 0;
    overflow: hidden;
}

#where {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

a {
    color: #ddd;
    text-decoration: none;
}
    a:hover {
        border-bottom: solid 1px white;
        color: white;
    }

button {
    background: #0688fa;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: inline-block;
    font: 16px/3 "Helvetica Neue", Sans-Serif;
    height: 3rem;
    overflow: hidden;
    padding: 0 1.5rem;
    position: relative;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
    button[disabled] {
        background: gray;
    }
    button:hover {
        filter: brightness(110%);
    }
        button[disabled]:hover {
            filter: brightness(100%);
        }
    button:active {
        box-shadow: 0 0.125rem 0.33rem rgba(0, 0, 0, 0.5);
        top: 2px;
    }
        button[disabled]:active {
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
            top: 0;
        }

#credits {
    bottom: 10px;
    left: 10px;
    position: absolute;
}
    #credits p {
       margin-left: 1.25rem;
       margin-top: 0;
    }

#webgl-trademark {
    bottom: 10px;
    position: absolute;
    right: 10px;
}

.webgl-error {
    color: white;
    font-family: monospace;
    margin: 50px;
    text-align: center;
}
